nav.navbar.navbar-inverse.navbar-fixed-top{
  background-color: #308014;
  color: white;
}
.navbar-inverse{
  border:none;
}
div#bs-example-navbar-collapse-1 ul li a{
  color:white;
}
.navbar-inverse .navbar-brand{
  color:white;
}
.panel-default>.panel-heading {
    color: white;
    background-color: #308014;
    border:none;
}
